body
{
    background-color: cadetblue;
	font-family:Arial;
	padding:0px;
	margin:0px;
	width:100%;
}
header
{
	margin:0px;
	height:auto;
	width:100%;
	position: fixed;
	top:0;
	z-index: 200;
    background-color: cadetblue;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

#logoImage
{
	height: 116px;
	
	float:left;
	margin-left: 30px;
	margin-top: 5px;
}
#nav_container
{
	font-size: 20px;
	list-style-type: none;
	background-color: cadetblue;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 30px;
	padding-top:10px;
	padding-bottom: 15px;    
}
#headerList
{
    display: inline;
	padding: 10px 15px;	
}

header a
{
    position:relative;
    text-decoration:none;
    color: white;
	padding:0px;
}
header a:hover
{
	color:black;
}
header a:before
{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
	
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
header a:hover:before
{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}
#title1
{
    color:black;
    font-size: 27px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing: -2.7px;
    font-size: 40px;
    width:50%;
    margin-top:188px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.textOne
{
    
    font-size: 22px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    
     
}
#selectedLang{
    color:black;
}
#nonselectedLang{
    color:lightgrey;
}
#switchContainer
{
    width: 100%;
    height: auto;
    text-align: right;
    background-color: cadetblue;
    padding-top: 10px;
   
    
    
}
#phonefull
{
    width: 100%;
    text-align: right;
    background-color: cadetblue;
}
#phoneContainer
{
   display: inline-block;
    width:15%;
    text-align: right;
    margin-top: 5px;
    
}
#imagePhone
{
    width: 10%;
    float:left;
}
#num
{
    color: white;
    font-size: 1.7vw;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
   
    float:right;
    width: 90%;
}
.switch
{
     
    position:relative;
    display: inline-block;
    width: 50px;
    height:24px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    -webkit-transition:.4s;
    transition:.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition:.4s;
    transition: .4s;
}

input:checked + .slider {
    background: #2196F3;
}

input:focus +.slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}



.fontOne
{
    color:black;
    font-size: 27px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:170px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.fontTwo
{
    color:black;
    font-size: 27px;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:30px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.fontThreeBold
{
   color:black;
    font-size: 20px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing: 0px;
   
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
    width:50%;
}
.fontThreeBoldUnder
{
   color:black;
    width:80%;
    font-size: 30px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing: 0px;
   
    margin-top:30px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}

.fontFour
{
   color:black;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    letter-spacing: 0px;
   
    margin-top:5px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
    width:50%;
}
.fontFourLink
{
   color:darkblue;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-top:5px;
    margin-left:auto;
    margin-right: auto;
    
    text-align:left;
    width:50%;
}
#crisisContainer
{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: white;
    overflow: auto;
    
}

#imageMission
{
    width:100%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
#imageMissionContainer
{
    width:100%;
    text-align: center;
}
#helpContainer
{
    background-color: cadetblue;
    opacity: .8;
    color:black;
    width: 25%;
    height:110px;
    position:fixed;
    z-index: 200;
    right:0%;
    bottom:0%;
    visibility: hidden;
    margin-right: 20px;
    padding: 20px;
    border-width: 1px;
    border-color: grey;
    border-style: solid;
    border-bottom-width: 0px;
    
  
    
}
#questionContainer
{
    color:black;
    font-size: 20px;
    font-weight: 530;
    font-stretch: 100%;
    letter-spacing: 0px;
    visibility: hidden;
    text-align: center;
    
}
#responseContainer
{
    width: 100%;
    margin-top: 20px;
    visibility: hidden;
}
#choiceOneContainer
{
    width:50%;
    float: left;
    text-align: center;
    visibility: hidden;
   
}
#choiceTwoContainer
{
    width:50%;
    float: right;
    text-align: center;
    visibility: hidden;
    
}
#crisisButtonOne
{
    padding:7px 30px;
    background-color: black;
    text-decoration: none;
    border: 0px;
    color:white;
    font-size: 20px;
    font-weight: 530;
    font-stretch: 100%;
    letter-spacing: 0px;
    visibility: hidden;
}
#crisisButtonTwo
{
    padding:7px 30px;
    background-color: black;
    text-decoration: none;
    border: 0px;
    color:white;
    font-size: 20px;
    font-weight: 530;
    font-stretch: 100%;
    letter-spacing: 0px;
    visibility: hidden;
}
#introTitle
{
    margin-left: auto;
    margin-right: auto;
    font-size: 2vw;
    margin-top: 35px;
    color: forestgreen;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    
}
#introContainer
{
    text-align: center;
    width:100%;
    margin-top: 0px;
    display: inline-block;
   overflow:auto;
    background-color: white;
    
}
#intro
{
    color:black;
    font-size: 1.5vw;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:15px;
    margin-left:auto;
    margin-right: auto;
    
}
#greenfont
{
    color:forestgreen;
    font-size: 1.5vw;
    font-weight: 600;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-left:auto;
    margin-right: auto;
    width: 90%;
}
#imageIntro
{
    width:50%;
    float:left;
  
    
}
#icontainer
{
   width:50%;
    float:right;
    background-color: white;
    
}
#quoteContainer
{
    width: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fontSerious
{
    color:white;
    font-family: 'Righteous',cursive;
    font-size:40px;
    font-weight:normal;
    line-height: 60px;
    margin: 10px 0 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000, margin: 10px 0 24px;
    text-align: center;
}
.fontReg
{
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: white;
    text-transform: uppercase;
}
.fontReg2
{
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: white;
    text-transform: uppercase;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
#conLink
{
   width:50%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
#containerlocation
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: right;
}
.fontFourBoldUnder
{
   color:black;
    width:80%;
    font-size: 25px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    margin-top:2px;
    margin-left:auto;
    margin-right: auto;
    text-align:right; 
}
#cite
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: white;
}
#endBar
{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}
