body
{
    background-color: cadetblue;
	font-family:Arial;
	padding:0px;
	margin:0px;
	width:100%;
}
header
{
	margin:0px;
	height:auto;
	width:100%;
	position: fixed;
	top:0;
	z-index: 200;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
}

#logoImage
{
	height: 100px;
	float:left;
	margin-left: 30px;
	margin-top: 10px;
}
#nav_container
{
	font-size: 20px;
	list-style-type: none;
	background-color: white;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 30px;
	padding-top:10px;
	padding-bottom: 15px;    
}
#headerList
{
    display: inline;
	padding: 10px 15px;	
}

header a
{
    position:relative;
    text-decoration:none;
    color: black;
	padding:0px;
}
header a:hover
{
	color:black;
}
header a:before
{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
	
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
header a:hover:before
{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}
#title1
{
    color:black;
    font-size: 27px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing: -2.7px;
    font-size: 40px;
    width:50%;
    margin-top:188px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.textOne
{
    
    font-size: 22px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    
     
}
#selectedLang{
    color:black;
}
#nonselectedLang{
    color:grey;
}
#switchContainer
{
    width: 100%;
    height: auto;
    text-align: right;
    background-color: white;
    padding-top: 10px;
   
    
    
}
#phonefull
{
    width: 100%;
    text-align: right;
    background-color: white;
}
#phoneContainer
{
   display: inline-block;
    width:15%;
    text-align: right;
    margin-top: 5px;
    
}
#imagePhone
{
    width: 10%;
    float:left;
}
#num
{
    color: black;
    font-size: 1.5vw;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
   
    float:right;
    width: 90%;
}
.switch
{
     
    position:relative;
    display: inline-block;
    width: 50px;
    height:24px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}

.slider{
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    -webkit-transition:.4s;
    transition:.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition:.4s;
    transition: .4s;
}

input:checked + .slider {
    background: #2196F3;
}

input:focus +.slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
#title1
{
    color:black;
    font-size: 27px;
    font-weight: 900;
    font-stretch: 100%;
    letter-spacing: -2.7px;
    font-size: 40px;
    width:50%;
    margin-top:188px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}

.fontOne
{
    color:black;
    font-size: 27px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:170px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
#intro
{
    color:black;
    font-size: 27px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:170px;
    margin-left:auto;
    margin-right: auto;
    text-align: left;
}
.fontTwo
{
    color:black;
    font-size: 27px;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    width:90%;
    margin-top:30px;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
}
.fontThreeBold
{
   color:black;
    font-size: 20px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing: 0px;
   
    margin-top:20px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}
.fontThreeBoldUnder
{
   color:black;
    width:80%;
    font-size: 30px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing: 0px;
    text-decoration: underline;
    margin-top:30px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}
.fontFourBoldUnder
{
   color:black;
    width:80%;
    font-size: 25px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing: 0px;
    text-decoration: underline;
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}
.fontFour
{
   color:black;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    letter-spacing: 0px;
   
    margin-top:5px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}
.fontFourLink
{
   color:darkblue;
    font-size: 20px;
    font-weight: 400;
    font-stretch: 100%;
    letter-spacing: 0px;
    
    margin-top:5px;
    margin-left:auto;
    margin-right: auto;
    text-align:left; 
}
#crisisContainer
{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    
}
#endBar
{
    height: 70px;
    width: 100%;
}
#titleOne
{
    color:black;
    font-size: 28px;
    font-weight: 530;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
#titleOneTwo
{
    color:black;
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    text-transform: uppercase;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 50px;
}
.titleTwo
{
    color:black;
    font-size: 25px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    margin-bottom: 5px;
    width:80%;
    overflow: auto;

}
.titleTwo2
{
    color:black;
    font-size: 20px;
    font-weight: 530;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width:80%;

}
.titleTwoB
{
    color:black;
    font-size: 20px;
    font-weight: 700;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-bottom: 10px;
    text-transform: uppercase;

}
.titleThree
{
    color:black;
    font-size: 12px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    margin-top: 0px;
    margin-bottom: 3px;
   
}
.wholeContainer
{
    width:100%;
    text-align: center;
    background-color: cadetblue;
}
.wholeContainer2
{
    width:100%;
    text-align: center;
    background-color: white;
    overflow:auto;
    margin-top: 50px;
}
.wholeContainer3
{
    width:100%;
    text-align: center;
   
    overflow:auto;
    margin-top: 50px;
}
#typeContainer2
{
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    background-color: cadetblue;
    
}
#typeContainer
{
    text-align: center;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    background-color: cadetblue;
    
}
#typeContainerTypePeople
{
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    overflow: auto;
    
}
#typeContainerAmount
{
    text-align: center;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    overflow: auto;
    
}
.typeHowTherapy
{
    background-color: #70cb35;
}
.oneBlock
{
    width:33.33%;
    text-align: center;
    
    overflow: auto;
    display: block;
}
#inpersonContainer
{
    
    float:left;
    
}
#hybridContainer
{
    float:right;
    margin-bottom: 0px;
    text-align: center;
    
}
#telehealthContainer
{
    float:right;
}
.blockOnePic
{
    width: 100%;
    
}
.blockAmountPic
{
    width: 50%;
    margin-bottom: 50px;
    margin-top: 5px;
    
}
.blockAmountPic2
{
    width: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
    display: block;
    
    
}
.blockTypePic
{
    width: 100%;
    margin-bottom: 0px;
    display: block;
    
   
    
}
#hybridPic
{
    width: 100%;
    margin-bottom: 50px;
}
.blockPicContainer
{
    margin-bottom: 40px;
}
.typesOfPeople
{
    background-color: #70cb35;
}
.amountPeopleBlock
{
     width:50.0%;
    text-align: center;
    
    overflow: auto;
    display: block;
}
.typePeopleBlock
{
    width:25.0%;
    text-align: center;
    
    overflow: auto;
    display: block;
}
#fLeft
{
    float: left;
}
#fRight
{
    float: right;
}
.therapyTitle
{
    margin-top: 0px;
    
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#typeContainerTypeTherapy
{
    text-align: left;
   
 
   
    overflow: auto;
}
.oneBlockTherapy
{
    width:33.33%;
   margin-bottom: 10px;
    
    overflow: auto;
    display: block;
}
#daBorder
{
   
    padding:20px;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 80px;
}
.fontReg2
{
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: white;
    text-transform: uppercase;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.fontReg3
{
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: black;
    text-transform: uppercase;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.fontReg
{
    font-size: 40px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: black;
    text-transform: uppercase;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.textTwo
{
    margin-bottom: 15px;
}
#blockList
{
    text-align: left;
    color:black;
    font-size: 22px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
}
.con1
{
    width:33.333%;
    float:left;
}
.con2
{
     width:33.333%;
    float:right;
}
.con3
{
     width:33.333%;
    float:right;
}
.con4
{
     width:25%;
    float:right;
}
#name1
{
  width:100%
  background-image: url("images\services\image1-c.jpg");
    background-color: transparent;
}
#hybridText
{
    color: black;
    margin-top:35px;
    text-align: center;
    
    font-size: 18px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}
.wholeContainer45
{
    width:75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    display: inline-block;
    overflow: auto;
}
.halfBlock
{
    width:48.0%;
}
.blockSpacer
{
    width: 5%;
    float:right;
    background-color: green;
}
#halfBlockOne
{
    float:left;
}
#halfBlockTwo
{
    float:right;
}
#halfBlockpic
{
    width:100%;
    display: block;
}
#halfBlockTitle
{
    width: 100%;
    text-align: left;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    color: black;
}
#halfBlockInfo
{
    width: 100%;
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
  
}
#halfBlockTitleH
{
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
}
#halfBlockInfoH
{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
  
}
#hPic
{
    width:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
