body
{
    background-color: cadetblue;
	font-family:Arial;
	padding:0px;
	margin:0px;
	width:100%;
}
header
{
	margin:0px;
	height:auto;
	width:100%;
	position: fixed;
	top:0;
	z-index: 200;
    border-bottom-color: grey;
    border-bottom-width: 0.5px;
    border-bottom-style: solid;
	background-color: white;
    
}
h1
{
    width: 95%;
    text-align: center;
    font-size:4rem;
    font-weight: 900;
    color:white;
     letter-spacing:.25rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}
h2
{
    font-size: inherit;       
    font-weight: inherit;   
    margin: 0;            
    padding: 0;            
    color: inherit;        
    display: inherit;       
}
h3
{
    font-size: inherit;       
    font-weight: inherit;   
    margin: 0;            
    padding: 0;            
    color: inherit;        
    display: inherit;       
}
#top_bar
{
    height:9rem;
    width:100%;
}
#logoImage
{
	height: 100px;
	float:left;
	margin-left: 30px;
	margin-top: 10px;	
}
#nav_container
{
	font-size: 20px;
	list-style-type: none;
	background-color: white;
	margin-top:0px;
	margin-bottom: 0px;
	text-align: right;
	padding-right: 30px;
	padding-top:10px;
	padding-bottom: 15px;    
}
#headerList
{
    display: inline;
	padding: 10px 15px;	
}

header a
{
    position:relative;
    text-decoration:none;
    color: black;
	padding:0px;
}
header a:hover
{
	color:black;
}
header a:before
{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: 0;
  	left: 0;
  	background-color: black;
  	visibility: hidden;
  	-webkit-transform: scaleX(0);
 	transform: scaleX(0);
  	-webkit-transition: all 0.3s ease-in-out 0s;
  	transition: all 0.3s ease-in-out 0s;
}
header a:hover:before
{
	visibility: visible;
  	-webkit-transform: scaleX(1);
  	transform: scaleX(1);
}
.textOne
{
    
    font-size: 22px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;   
}
#selectedLang{
    color:black;
}
#nonselectedLang{
    color:grey;
}
#switchContainer
{
    width: 100%;
    height: auto;
    text-align: right;
    padding-top: 10px;
}
#mobile_switchContainer
{
      display: none;      
}
#phonefull
{
    width: 100%;
    text-align: right;
}
#phoneContainer
{
    display: inline-block;
    width:210px;
    text-align: right;
    margin-top: 5px;
    margin-right: 20px;
    
}
#imagePhone
{
    width: 25px;
    float:left;
}
#num
{
    color: black;
    font-size: 25px;
    font-weight: 550;
    font-stretch: 100%;
    letter-spacing:-1px;
    text-align: center;
    float:right;
    margin-top: 5px;
    
}
.switch
{
    position:relative;
    display: inline-block;
    width: 50px;
    height:24px;
}
.switch input
{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position: absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black;
    -webkit-transition:.4s;
    transition:.4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition:.4s;
    transition: .4s;
}
input:checked + .slider 
{
    background: black;
}
input:focus +.slider 
{
    box-shadow: 0 0 1px black;
}
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round
{
    border-radius: 34px;
}
.slider.round:before
{
    border-radius: 50%;
}
#titleOneTwo
{
    color:white;
    font-size: 50px;
    font-weight: 750;
    font-stretch: 100%;
    letter-spacing: -1.7px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 50px;
}
.wholeContainer3
{
    width:100%;
    text-align: center;
    overflow:auto;
    margin-top: 0px;
}
.therapyTitle
{
    margin-top: 0px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
#typeContainerTypeTherapy_one
{
    text-align: center;
    width:50%;
    float:left;
    overflow: auto;
}
#typeContainerTypeTherapy_two
{
    text-align: center;
    width:50%;
    float:right;
    overflow: auto;
}
.oneBlockTherapy
{
    width:33.33%;
    margin-bottom: 10px;
    overflow: auto;
    display: block;
}
#daBorder
{
    padding:20px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: inline-block;
    margin-bottom: 80px;
    text-align: center;
}
.textTwo
{
    width:100%;
    margin-bottom: 15px;
    background-color: #c4f4d4;
    padding:15px;
    border-radius: 15px;
    text-align: center;
    font-size:30px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    float: none; 
}
.blockList
{
    text-align: center;
    color:black;
    font-size: 22px;
    font-weight: 500;
    font-stretch: 100%;
    letter-spacing: 0px;
    list-style-type: none;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.big_block_title
{
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 30px;
}
.big_block_description
{
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 0px;
}
.big_block_center
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #c4f4d4;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.left_side_block
{
    width:70%;
    float:left;
    padding: 40px;
    box-sizing: border-box;
    
}
.right_side_block
{
    width:30%;
    float:right;
}
.pic_bottom_corner
{
    position: absolute;
    bottom:0;
    right:0;
    width:30%;
    background-color: #c4f4d4;
}
#bubble_container
{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}
#bubble_image
{
    width:100%;
    display: block;
    float:left;
    margin-top: 30px;
    border-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#mobile_bubble_container
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    padding: 0px;
    overflow: hidden;
    display:none;
}
#mobile_bubble_image
{
    width:100%;
    display: block;
    float:left;
    margin-top: 30px;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
#mobile_bubble_list
{
    width:100%;
    margin: 0px;
    padding:0px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c4f4d4;
    overflow: hidden;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}
.mobile_bubble_list_item
{
    background-color: #ff6600;
    width:90%;
    margin-bottom: 25px;
    
    padding:15px;
    border-radius: 25px;
    text-align: center;
    font-size:30px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    float: none;
    list-style-type: none;
    
}

.mobile_big_block_title
{
    font-weight: 800;
    font-size: 55px;
    margin-bottom: 30px;
}
.mobile_big_block_description
{
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 0px;
}
.mobile_big_block_center
{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: #c4f4d4;
    overflow: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.mobile_left_side_block
{
    width:100%;
    float:left;
    padding: 40px;
    padding-bottom: 0px;
    box-sizing: border-box;
    
}
.mobile_right_side_block
{
    width:60%;
    float:right;
}
.mobile_pic_bottom_corner
{
    position: absolute;
    bottom:0;
    right:0;
    width:60%;
    background-color: #c4f4d4;
}
.header_two_font_style
{
    width: 95%;
    text-align: center;
    font-size:3rem;
    font-weight: 700;
    color:white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}
#level_three_title
{
    font-stretch: 100%;
    letter-spacing: -1.7px;
    margin-bottom: 25px;
   
}
@media only screen and (max-device-width:900px) 
{
    #bubble_title
    {
        padding-top: 3rem;
    }
    .header_two_font_style
    {
        width: 95%;
        text-align: center;
        font-size:3rem;
        font-weight: 700;
        color:white;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }
    #level_three_title
    {
        
        padding-top: 40px;
        padding-bottom: 20px;
        
    }
    #big_blocks_container
    {
        display: none;
    }
    #mobile_big_blocks_container
    {
        display: block;
    }
    .big_block_title
    {
        font-size:65px;
    }
    .big_block_description
    {
        font-size:45px;
    }
    #bubble_container
    {
        display: none;
    }
    #mobile_bubble_container
    {
        display: block;
        padding-top: 20px;
    }
    .mobile_bubble_list_item
    {
        font-size:45px;
    }
    #daBorder
    {
        width:90%;
    }
    #typeContainerTypeTherapy_one
    {
        width:100%;
        
    }
    #typeContainerTypeTherapy_two
    {
        width:100%;
        
    }
    .textTwo
    {
        font-size:55px;
        margin-bottom: 35px;
    }
    
    #titleOneTwo
    {
        font-size: 75px;
        padding-top: 40px;
        padding-bottom: 20px;
        
    }
   
    #phoneContainer
    {
        margin-top: 20px;
        width: auto;
    }
    #imagePhone
    {
        width: 35px;
        float:left;
        margin-right: 20px;
    }
    #num
    {
        color: black;
        font-size: 45px;
        font-weight: 550;
        font-stretch: 100%;
        letter-spacing:-1px;
        text-align: center;
        float:right;
        margin-top: 5px;
        
    }
    #switchContainer
    {
        display: none;
    }
    #selectedLang{
        color:black;
        
    }
    #nonselectedLang{
        color:grey;
    }
    #mobile_switchContainer
    {
        display: block;
        width: 100%;
        height: auto;
        text-align: right;
        padding-top: 0px;
        text-align: right;
        margin-top: 15px;
       
        
    }
    .switch
    {
        position:relative;
        display: inline-block;
        width: 150px;
        height:55px;
        padding: 0px;
        margin: 0px;
       
        vertical-align: top;
    }
    .switch input
    {
        opacity:0;
        width:0;
        height:0;
    }
    .slider{
        position: absolute;
        cursor:pointer;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color: black;
        -webkit-transition:.4s;
        transition:.4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 40px;
        width: 40px;
        left: 15px;
        bottom: 8px;
        background-color: white;
        -webkit-transition:.4s;
        transition: .4s;
    }
    input:checked + .slider 
    {
        background: black;
    }
    input:focus +.slider 
    {
        box-shadow: 0 0 1px black;
    }
    input:checked + .slider:before 
    {
        -webkit-transform: translateX(86px);
        -ms-transform: translateX(86px);
        transform: translateX(86px);
    }
    .slider.round
    {
        border-radius: 34px;
    }
    .slider.round:before
    {
        border-radius: 50%;
    }
    .textOne
    {
        font-size: 45px;
        font-weight: 550;
        font-stretch: 100%;
        letter-spacing:0px;
        text-align: center;
        margin-right: 10px;
        margin-left: 10px; 
        box-sizing: border-box;
        padding-top: 20px;  
    }
    #logo
    {
        position:absolute;
        top:5px;
        left:0px;
    }
    #logoImage
    {
        height: 130px;
        float:left;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 10px;	
    }
    #nav_container
    {
        font-size: 30px;
        list-style-type: none;
        background-color: white;
        margin-top:0px;
        margin-bottom: 0px;
        text-align: right;
        padding-right: 30px;
        padding-top:30px;
        padding-bottom: 15px;    
    }
    #top_bar
    {
        height:280px;
        width:100%;
    }
    
}